@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css";
/* @import "https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"; */
* {
    margin: 0;
    outline: none;
  }

.pageContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-family: Poppins;
    background-size: 100%; 
    height: 100vh;
    background: url(./assets/17520.jpg) no-repeat center center / cover; 
}

.jukebox {
    display: flex;  
    height: 88vh;
    width: 75vw;
    justify-content: space-between;
    align-items: center;
    /* background-color:blue;   */
}

.band {
    display: flex;
    flex-direction: column;
    align-items: center;        
}

.logo_banda {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 130px;
    background-color: #0b1227;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(2, 2, 2, 0.664);
}

img#logo_banda {
    width: 18.7vw;    
}

.band {
    display: flex;
    justify-content: flex-end;
    height: 79.25vh;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 23vw;
    height: 73vh;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
}

.about img {
    margin-top: 10px;
    width: 90%;
    border-radius: 5%;
}

.band_description {
    display: flex;
    flex-direction: column;
    align-items: left;    
}

.band_description h1 {
    margin: 20px 25px 0;
    font-size: 30px;   
}

.band_description p {
    font-family: Roboto;
    margin: 5px 25px 20px;
    color: #837e7e;
    font-size: 20px;
}

.musics {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.514);
    border-radius: 15px;
}

.playerContent {
    display: flex;
    height: 79.25vh;
}

.player {
    width: 23vw;
    height: 73vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background: rgba(196, 196, 196, 0.15);
    border: 3px solid rgba(162, 211, 238, 0.57);
    color: #ffffff;
    position: relative;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
}

.albumCover {
    width: 90%;
    padding-top: 90%;
    border-radius: 15px;
    margin-top: 10%;
}

#controlBars {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;    
}

#seekbar {
    width: 60%;
}

#vol {
    color: white;
}

#volume {
    width: 25%;
}

.durationStatus {
    display: flex;
    width: 90%;
    justify-content: space-between;
}

.controls {
    width: 70%;
    height: 12%;    
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.action_backward {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.action_forward {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.action_playPause {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.action {
    padding: 1em;
}

.bar-current {
    position: absolute;
    cursor: pointer;
    bottom: 20%;
    width: 100%;
    height: 1%;
    background: #ffffff;
}

.progress-bar {
    position: absolute;
    background: rgb(4, 255, 109);
    height: 5%;
    width: 0%;
    left: 0;
    bottom: 10%;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(11, 58, 10, 0.37);  
}

.playlistContent {
    display: flex;
    height: 79.25vh;
    align-items: flex-end;
}

.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23vw;
  height: 73vh;
  background: rgba(196, 196, 196, 0.15);
  backdrop-filter: blur(12px);
  border: 3px solid rgba(162, 211, 238, 0.57);
  border-radius: 15px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #30458F;
    width: 100%;
    height: 12vh;
    color: #ffffff;
}

.footer a {
    cursor: pointer;
}

.footer a:hover {
    background-color: #fff;
}

@media (max-width: 1200px) {
    body {
        flex-direction: column;
        align-items: center;
    }

    .band {
        width: 100%;        
        height: auto;
    }
    
    .about {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        border-radius: 15px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.664);
    }

    .pageContent {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-family: Poppins;
        background-size: 100%; 
        height: auto;
        background: url(./assets/17520.jpg) no-repeat center center / cover; 
    }

    .jukebox {
        display: flex; 
        flex-direction: column; 
        height: auto;
        width: 90%;
        justify-content: space-between;
        align-items: center;
    }

    .playerContent {
        width: 100%;
        height: auto;
    }
    
    .player {
        width: 100%;
        height: auto;
        position: static;
    }

    .playlistContent {
        align-items: flex-start;
        width: 100%;
    }

    .playlist {
        width: 100%;
    }

    .musics {
        margin: 0 0 50px 0;
        width: 420px;       
    }

    .player:first-child {
        margin: 30px 10px 10px 10px;
    }

    .player:last-child {
        margin-bottom: 30px;
    }
}

